* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent-color: #0b7285;
}
:root {
  --main-bg-color: #e7f5ff;
}
:root {
  --btn-font-color: #e3fafc;
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  margin-top: 40px;
}
header {
  background-color: var(--accent-color);
  color: #e3fafc;
  height: 70px;
}
h1 {
  display: inline-block;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}
nav,
ul,
li {
  display: inline-block;
  margin-left: 20px;
}
nav a:hover {
  color: coral;
}
nav a {
  text-decoration: none;
  color: #e3fafc;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

main,
section {
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 30px;
}

h2 {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.fitness-title,
.pop-features {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
span {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
}
/* Follow us section */
.follow-us {
}
.follow-us a {
  text-decoration: none;
  color: var(--btn-font-color);
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.btn-get-mem {
  background-color: #fff;
  border: solid orange 2px;
  margin-top: 10px;
  margin-bottom: 22px;
  color: #e67700;
}

.btn-get-mem:hover {
  color: var(--btn-font-color);
}

.btn-inst {
  background-color: #845ef7;
}

.btn-face {
  background-color: #1c7ed6;
}
.btn-you {
  background-color: #e03131;
}
.popular-ftr {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--accent-color);
  color: #e3fafc;
  padding-left: 20px;
}

.author,
.company {
  color: var(--accent-color);
  font-weight: 500;
}

blockquote,
.author,
.company {
  font-style: italic;
  line-height: 22px;
  margin-bottom: 10px;
}
/* ABOUT PAGE */
.img-about-top {
  width: 100%;
  height: 50%;
  margin-bottom: 0;
}

.card-title {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  color: var(--accent-color);
}
.cards {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 40px;
}
.card {
  flex: 1 200px;
  border-radius: 20px;
  background-color: #dee2e6;
  padding: 10px;
  color: var(--accent-color);
}
.gyms-in {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 28px;
  color: var(--accent-color);
}
